<%-include('partials/_header.ejs') -%>
<style>
  body {
    background-color: #FEFDE9;
    background-image: url('css/imagenes/herbs-recipes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
</style>
<div id=#contenedorcard class="container p-4">
<%
if(dieta){

    dieta.forEach(die=>{
    if(die.eliminado == 1){
%>
<div class="card">
    <div class="card-body">
         <p class="card-text">Comida: <%= die.comida %></p>
         <p class="card-text">Cantidad de Grasa: <%= die.grasas %></p>
         <p class="card-text">Cantidad de Proteina: <%= die.proteina %></p>
         <p class="card-text">Cantidad de Carbohidratos: <%= die.carbohidratos %></p>
   
        
         <div class="modal" id="editModal<%=die._id%>" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true"> 
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="tituloVentana">editar Egreso</h5>
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                         </button>
                       </div>
                       <form action="/dieta/edit/<%=die._id %>" method="POST">
                       <div class="modal-body">
                           
                            <div class="form-group">
                           
                                   <input type="text"  name="comida"  value="<%= die.comida %>" class="form-control"> 

                                <input type="text" name="grasas" value="<%= die.grasas %>" class="form-control"/>
                                
                                <input type="text" name="proteina" value="<%= die.proteina %>" class="form-control"/>
                                 
                       
                                <input type="text" name="carbohidratos" value="<%= die.carbohidratos %>" class="form-control"/>
                               </div>
                          
                        
                       </div>
                       <div class="modal-footer">
                         <button type="submit" class="btn btn-primary">Save changes</button>
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       </div>
                   </form>
                   </div>
                   </div>    
               </div> 
               <button class="btn btn-success"   style="text-align: center;" data-toggle='modal' data-target='#editModal<%=die._id%>'>Editar</button>
               <a href="/dieta/delete/<%= die._id %>" class="btn btn-success">Eliminar</a>
        </div>
      </div>

<%
    }
    });
}
%>
</div>










<div class="modal" id="ventanaModal" tabindex="-1" role="dialog" aria-labelledby="tituloVentana" aria-hidden="true"> 
    <div class="modal-dialog" role="document">
    <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="tituloVentana">Agregar Comida</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <form action="/dieta/add" method="POST">
                
               <div class="modal-body">
                   
                    <div class="form-group">

                           <input type="text"  name="comida" placeholder="descripcion de la comida"   class="form-control"/> 
                        
                       
                        
                        <input type="text" name="carbohidratos" placeholder="Cantidad de Carbohidratos" class="form-control"/>
                        
                        <input type="text" name="grasas"  placeholder="Cantidad de Grasas" class="form-control"/>
                         
                      
                        <input type="text" name="proteina" placeholder="Cantidad de Proteina" class="form-control"/>
                        
                       </div>
                  
                
               </div>
               <div class="modal-footer">
                 <button type="submit" class="btn btn-primary">Save changes</button>
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
           </form>
           </div>
           </div>    
       </div> 
       <div class="boton_agregar">
        <button type="button"    data-toggle='modal' data-target='#ventanaModal'>Agregar</button>
       </div>
       
<form action="" method="post">
    <a href="/logout" class="boton_personalizado" style="text-align: center; display: inline-block; width: 100%;"  > logout  </a>
</form>

<%-include('partials/_footer.ejs') -%>